.row-top{
	margin-top: 10px;
}

.navbar-inverse{
	background-color: #353535 !important;
	border-top-color: #dd4814 !important;
}

#page {
	margin-top: 3em;
	height: 100%
}

.container{
	width: 85% !important;
	max-width: 2000px !important;
}

.chatso-box{
	height: 90%;
	overflow: hidden;
	position: relative;
	padding:10px;
}

.chat{
	max-width: 75%;
	padding: 10px;
	margin: 10px;
	clear:both;
	border-radius: 5px;
	font-size: 2em;
}

.you{
    background-color: #353535;
    color: #fff;
    float: right;   	
}

.sprekn{
    background-color: #DD4814;
	float:left;
}

.ih{
	height:inherit;
}

.oph{
	height:100%
}

.ntph{
	height:92%;
}