<div ng-controller="sprekn as vm" class="ih">	
	<div class="row row-top ih">
		<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 ih">					
			<div class="row row-top ih">
				<div id="chatbox" class="chatso-box">		
					<div ng-repeat="c in vm.chat track by $index">
						<div class="message">
							<span class="chat"  ng-class="c.who"> {{c.message}}</span>	
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>
	<div class="row row-top">
		<form  ng-submit="vm.userchat(vm.mess)">		
			<div class="input-group">
				<input autofocus type="text" ng-model="vm.mess" class="form-control" placeholder="Say something...">
				<span class="input-group-btn">
					<button class="btn btn-primary"  type="submit">Say</button>
				</span>
			</div>
		</form>	
	</div>
</div>	
